.fancy
  %ul.slot
    / In reverse order so the 7s show on load
    %li
      %span ABC
    %li
      %span XY
  
  %ul.slot
    %li
      %span 12
    %li
      %span 23
    %li
      %span 23
  %input#playFancy{type: "button", value: "Play"}/

%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"}
%link{charset: "utf-8", href: asset_path("jslot/index.css"), media: "screen", rel: "stylesheet", title: "no title", type: "text/css"}/



  



%h1 Listing slot_machines

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @slot_machines.each do |slot_machine|
    %tr
      %td= slot_machine.name
      %td= slot_machine.description
      %td= link_to 'Show', slot_machine
      %td= link_to 'Edit', edit_slot_machine_path(slot_machine)
      %td= link_to 'Destroy', slot_machine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slot machine', new_slot_machine_path


