= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js'
%link{href: "http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css", rel: "stylesheet"}/
%script{src:  asset_path("rainyday/js/Gruntfile.js"), type: "text/javascript"}
%script{src:  asset_path("rainyday/js/rainyday.min.js"), type: "text/javascript"}

%script{src: "http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"}
#home.flexslider
  .dots
  %ul.slides
    %li.slide1
      .container
        .slide-content
          %h1.hero
            Say something to Joseph
            %span 
          %a.button.get-started{href: ".contact"} GO!
.wrapper
  %footer.main.contact
    .container
      %h1.hero Hi Joseph, I wanna say...
      #results
        #error.alert.alert-error
          Please fill in all required fields.
        #success.alert.alert-success
          Thanks for getting in touch. We will get back to you shortly!
      %img#loading{alt: "Loading", src:  asset_path("economizer/images/loading.gif")}/
      .row-fluid        
        .span10.offset1
          %div#error_form
          / %form#contact{action: "form.php", method: "POST"}
          = form_for(@joseph_memo, :html => {:multipart => true}, :url => { :action => "create" , :anchor => "error_form" }) do |f|
            - if @joseph_memo.errors.any?
              #error_explanation
                %h2= "#{pluralize(@joseph_memo.errors.count, "error")} prohibited this joseph_memo from being saved:"
                %%ul
                  - @joseph_memo.errors.full_messages.each do |msg|
                    %li= msg          
            .row-fluid
              .span3 
                = f.text_field :name, :placeholder => "Put your name"                            
              .span6 
                = f.text_field :title, :placeholder => "Write down your article title"
              .span3
                = f.file_field :imgs, class: 'filestyle' , type: 'file'
            .row-fluid
              .span12
                = f.text_area :words, :placeholder => "Write your words here"
            .row-fluid
              .span12
                = f.text_area :videos, :placeholder => "Put the youtube videos url that you want to share"
              = f.submit 'Send!', class: 'btn btn-info pull-right' 

:javascript
  $(":file").filestyle({input: false,buttonText: "Upload zip file"});