
= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js'
%link{href: "http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css", rel: "stylesheet"}/
%script{src: "http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"}
%h1.hero{:style => "color: white" } Hi Joseph, I wanna say...

.row-fluid
  .span10.offset1
    %div#error_form
    / %form#contact{action: "form.php", method: "POST"}
    = form_for(@joseph_memo, :html => {:multipart => true}, :url => { :action => "create" , :anchor => "error_form" }) do |f|
      - if @joseph_memo.errors.any?
        #error_explanation
          %h2= "#{pluralize(@joseph_memo.errors.count, "error")} prohibited this joseph_memo from being saved:"
          %%ul
            - @joseph_memo.errors.full_messages.each do |msg|
              %li= msg          
      .row-fluid
        .span3 
          = f.text_field :name, :placeholder => "Put your name"                            
        .span6 
          = f.text_field :title, :placeholder => "Article title"
        .span3
          = f.file_field :imgs, class: 'filestyle' , type: 'file'
      .row-fluid
        .span12
          = f.text_area :words, :placeholder => "Write your words here"
      .row-fluid
        .span12
          = f.text_area :videos, :placeholder => "Put the youtube videos url that you want to share"
        = f.submit 'Send!', class: 'btn btn-info pull-right' 

%div.center
  = link_to "觀看紀念網站" ,  "http://joseph-1986-01-21.info",{:style => 'color: #FFFFFF', :class => "btn  btn-primary ", :target => "_blank"}
  = link_to "老頭的相本" ,  "http://joseph-1986-01-21.info/album/gallery.html",{:style => 'color: #FFFFFF', :class => "btn  btn-primary ", :target => "_blank"}

:javascript
  $(":file").filestyle({input: false,buttonText: "Upload zip file"});

%img#background{alt: "background", src: asset_path("rainyday/img/city.jpg")}/
#cholder
  %canvas#canvas
