%header.main
  .container
    %a.logo{href: "#"}
      %img{alt: "4am-lesson", src:  asset_path("economizer/images/logo.png")}/
    %nav.mobile.hidden-desktop.pull-right
      %select.mobile-nav
        %option{value: ".home"} Home
        / %option{value: ".features"} Features
        / %option{value: ".our-company"} About Us
        %option{value: ".our-team"} Our Team
        %option{value: ".our-work"} Our Work
        / %option{value: ".pricing"} Pricing
        / %option{value: ".blog"} Blog
        %option{value: ".contact"} Get in touch
    / nav.mobile
    %nav.main.nav-collapse.visible-desktop
      %ul.inline
        - if user_signed_in?
          %li 
            = link_to current_user.name, "#", "omniauth" => "true"
          %li
            = link_to "Sign out", destroy_user_session_path,:method => :delete, "omniauth" => "true"
        - else
          %li
            = link_to "Sign up", new_user_registration_path, "omniauth" => "true"
          %li
            = link_to "Sign in", new_user_session_path, "omniauth" => "true"
          %li 
            = link_to "Login with Facebook" ,  user_omniauth_authorize_path(:facebook), "omniauth" => "true"

        %omniauth
          %li 
            %a{href: ".home"} Home
        %li
          
        / %li
        /   %a{href: ".features"} Features
        / %li
        /   %a{href: ".our-company"} Our Company
        %li
          %a{href: ".our-team"} Our Team
        %li
          %a{href: ".our-work"} Our Work
        / %li
        /   %a{href: ".pricing"} Pricing
        / %li
        /   %a{href: ".blog"} Blog
        %li
          %a{href: ".contact"} Get in touch
    / /nav.main
  / /.container
/ /header.main