%ul.inline
  - if user_signed_in?
    %li
      = link_to current_user.name, "#", "omniauth" => "true"
    %li
      = link_to "Sign out", destroy_user_session_path,:method => :delete, "omniauth" => "true"
  - else
    %li
      = link_to "Login with Facebook" ,  user_omniauth_authorize_path(:facebook), "omniauth" => "true"
  %omniauth
    %li
      %a{href: ".home"} Home
  - view_sections.each do |section|
    %li
      = link_to t(section), ".#{section}"