#switcher.hidden-phone
  / .handle
  /   %i.icon.icon-cog
  / %h5 Color:
  / %select#skin{name: "skin"}
  /   %option{value: "default"} Default
  /   %option{value: "red"} Red
  /   %option{value: "green"} Green
  /   %option{value: "pastel"} Pastel
  /   %option{value: "dark"} Dark
  /   %option{value: "gold"} Gold
  /   %option{value: "orange"} Orange
/ /#switcher
/ END REMOVE
.wrapper
  = render 'home_slider'
  = render 'header_main'
  = render 'section_features'
  %section.experts.bordered.transparent.center
    .container
      %h1.hero Crafted by Experts.
      %p.center.sub-hero Duis suscipit, dui sit amet egestas fermentum, felis tortor venenatis magna, id imperdiet lectus sem non ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus varius ligula, at mollis leo posuere eget. Morbi vel facilisis augue. Aliquam erat volutpat.
      %a.button{href: "#"} Find out more
    / /.container
  / /.experts

  = render 'our_company'
  = render 'our_team'
  = render 'testimonials'
  = render 'our_work'
  = render 'portfolio_single'
  = render 'pricing'
  = render 'blog'
  = render 'footer_main_contact'

  %footer.main.contact
    .container
      %h1.hero Get in touch.
      #results
        #error.alert.alert-error
          Please fill in all required fields.
        #success.alert.alert-success
          Thanks for getting in touch. We will get back to you shortly!
      %img#loading{alt: "Loading", src:  asset_path("economizer/images/loading.gif")}/
      .row-fluid
        .span2
          %h6
            %i.icon-pushpin>
            Address
          %address
            12 Ambient Gardens,
            %br/
            Manhattan,
            %br/
            New York
            %br/
            10264
            %br/
            United States
        / /.span3
        .span3
          %h6
            %i.icon-envelope>
            Email
          %p
            info@economiser.com
            %br/
            enquiries@economiser.com
          %hr/
          %h6
            %i.icon-phone>
            Phone
          %p
            +44 141 639 2872
            %br/
            +44 141 632 4752
        / /.span3
        .span6.offset1
          %form#contact{action: "form.php", method: "POST"}
            .row-fluid
              .span6
                %input#name.req{name: "name", placeholder: "Name...", type: "text"}/
              / /.span6
              .span6
                %input#email.req{name: "name", placeholder: "Email...", type: "text"}/
              / /.span6
            / /.row-fluid
            .row-fluid
              .span12
                %textarea#comments.req{name: "comments", placeholder: "Comments..."}
                %input.pull-right{type: "submit", value: "Send!"}/
              / /.span12
            / /.row-fluid
        / /.span6
      / /.row-fluid
    / /.container

    = render 'copyright'
    / /footer.main
    

/ /.wrapper