= form_for(@buy_house, :html=> {class: "form-horizontal"} ) do |f|
  - if @buy_house.errors.any?
    #errorExplanation
      %h2
        = pluralize(@buy_house.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @buy_house.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Model Name
        .col-sm-9
          = f.text_field :user_id, class: 'input-xxlarge' |
          / , :disabled => true
  .space-4
  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Gender
        .col-sm-9
          - genders = TwLaborIncome.uniq.pluck(:gender)
          - genders.each do |g|
            = f.radio_button :gender, g, :checked => true
            = g
          / = f.check_box :gender, genders.map{|g| [g, g]}
          / = f.select :gender, genders.map{|g| [g, g]}
  .space-4

  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Age
        .col-sm-9
          = f.text_field :age, class: 'input-xxlarge' 
  .space-4

  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Monthly Income
        .col-sm-9
          = f.text_field :monthly_income, class: 'input-xxlarge'
  .space-4


  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Loan amount
        .col-sm-9
          - prices = [5000000,10000000,15000000,20000000,30000000,50000000,100000000]
          = f.select :house_price, prices.map{|g| [number_to_human(g), g]}
  .space-4


  .form-group
    .form-inputs
      .div.form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Loan Duration
        .col-sm-9
          - duration = [10,20,30,40]
          = f.select :loan_duration, duration.map{|g| ["#{g} years", g]}
  .space-4  


  .clearfix.form-actions
    .col-md-offset-3.col-md-9
      = f.submit 'GO', class: 'btn btn-info'
