%h1 Listing buy_houses

%table
  %tr
    %th User
    %th Age
    %th Gender
    %th Monthly income
    %th Job
    %th Expenditure
    %th
    %th
    %th

  - @buy_houses.each do |buy_house|
    %tr
      %td= buy_house.user_id
      %td= buy_house.age
      %td= buy_house.gender
      %td= buy_house.monthly_income
      %td= buy_house.job
      %td= buy_house.expenditure
      %td= link_to 'Show', buy_house
      %td= link_to 'Edit', edit_buy_house_path(buy_house)
      %td= link_to 'Destroy', buy_house, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Buy house', new_buy_house_path
