%script{src: asset_path("pair_group/js/jquery.dynamiclist.min.js")}
.row
  .col-xs-12.col-sm-4.widget-container-col.ui-sortable
    .widget-box.ui-sortable-handle
      .widget-header.widget-header-large
        %h4.widget-title Create a Group
      .widget-body
        .widget-main
          %form.form-horizontal{id: "create_group_form"}
            .control-group
              %label.control-label Group Name
              .controls
                %input.form-control{name: "groupName"}
            .control-group
              %label.control-label Group Description
              .controls
                %textarea.form-control{name: "groupDescription"}

            .control-group
              %label.control-label Male List
              #male_list.controls
                .list-item.male
                  %input{name: "male[0].name", placeholder: "Guest Name", type: "text"}/
                  %a.list-remove.btn-minier.btn{href: "#", style: "display: none;"}
                    %i.icon-minus
                    
                .form-group
                  / %label.col-sm-3.control-label.no-padding-right{for: "form-field-2"} Password Field
                  %br
                  .col-sm-9
                    %a.list-add.btn.btn-white.btn-inverse.btn-sm{href: "#"}
                      %i.icon-plus
                      Add 
              %label.control-label Female List
              #female_list.controls
                .list-item.female
                  %input{name: "female[0].name", placeholder: "Guest Name", type: "text"}/
                  %a.list-remove.btn-minier.btn{href: "#", style: "display: none;"}
                    %i.icon-minus
                    
                .form-group
                  / %label.col-sm-3.control-label.no-padding-right{for: "form-field-2"} Password Field
                  %br
                  .col-sm-9
                    %a.list-add.btn.btn-white.btn-inverse.btn-sm{href: "#"}
                      %i.icon-plus
                      Add                       
                  
            .control-group
              .controls
                %input.btn.btn-primary.btn-large{type: "submit", value: "Create Group"}/

  .col-xs-12.col-sm-3.widget-container-col.ui-sortable
    .widget-box.ui-sortable-handle
      .widget-header.widget-header-large
        %h4.widget-title Your Groups
      .widget-body
        .widget-main.right
          .control-group
          %br
          = form_tag generate_pairs_pair_groups_path, :remote => true do
            .control-group
              %label.control-label Group Name
              = select_tag 'group_id', options_for_select(@pair_groups.collect{ |g| [g.title, g.id] })
            %br
            .control-group
              %label.control-label 
              - [["numbers_of_groups", "總共分組數"],["numbers_in_groups", "每組人數"]].each_with_index do |(pair_setting, name), i|
                = label_tag  do
                  = radio_button_tag "pair_setting", pair_setting, false
                  = name

              = text_field_tag "numbers", nil , :placeholder => "Number"
            .space-4  
            = submit_tag "GO", class: 'btn btn-info'


:javascript
  (function($) {
        $(document).ready(function() {
          $("#male_list").dynamiclist();  
          $("#female_list").dynamiclist();  
        });
      })(jQuery);