%script{src: asset_path("pair_group/js/jquery.dynamiclist.js")}
.row
  .col-xs-12.col-sm-4.widget-container-col.ui-sortable
    .widget-box.ui-sortable-handle
      .widget-header.widget-header-large
        %h4.widget-title Create a Group
      .widget-body
        .widget-main
          %form.form-horizontal{id: "create_group_form"}
            .control-group
              %label.control-label Group Name
              .controls
                %input.form-control{name: "groupName"}
            .control-group
              %label.control-label Group Description
              .controls
                %textarea.form-control{name: "groupDescription"}

            .control-group
              %label.control-label Male List
              #male_list.controls
                .list-item.male
                  %input{name: "male[0].name", placeholder: "Guest Name", type: "text"}/
                  %a.list-remove.btn-minier.btn{href: "#", style: "display: none;"}
                    %i.icon-minus
                    
                .form-group
                  / %label.col-sm-3.control-label.no-padding-right{for: "form-field-2"} Password Field
                  %br
                  .col-sm-9
                    %a.list-add.btn.btn-white.btn-inverse.btn-sm{href: "#"}
                      %i.icon-plus
                      Add 
              %label.control-label Female List
              #female_list.controls
                .list-item.female
                  %input{name: "female[0].name", placeholder: "Guest Name", type: "text"}/
                  %a.list-remove.btn-minier.btn{href: "#", style: "display: none;"}
                    %i.icon-minus
                    
                .form-group
                  / %label.col-sm-3.control-label.no-padding-right{for: "form-field-2"} Password Field
                  %br
                  .col-sm-9
                    %a.list-add.btn.btn-white.btn-inverse.btn-sm{href: "#"}
                      %i.icon-plus
                      Add                       
                  
            .control-group
              .controls
                %input.btn.btn-primary.btn-large{type: "submit", value: "Create Group"}/

  .col-xs-12.col-sm-3.widget-container-col.ui-sortable
    .widget-box.ui-sortable-handle
      .widget-header.widget-header-large
        %h4.widget-title Your Groups
      .widget-body
        .widget-main.right
          .control-group
          %br
          = form_tag generate_pairs_pair_groups_path do
            .control-group
              %label.control-label Group Name
              = select_tag 'group_id', options_for_select(@pair_groups.collect{ |g| [g.title, g.id] })
            %br
            .control-group
              %label.control-label 
              - [["numbers_of_groups", "總共分組數"],["numbers_in_groups", "每組人數"]].each_with_index do |(pair_setting, name), i|
                = label_tag  do
                  = radio_button_tag "pair_setting", pair_setting, false
                  = name

              = text_field_tag "numbers", nil , :placeholder => "Number"
            .space-4  
            = submit_tag "GO", class: 'btn btn-info'

  .col-xs-12.col-sm-3.widget-container-col.ui-sortable
    .widget-box.ui-sortable-handle
      .widget-header.widget-header-large
        %h4.widget-title Results
      .widget-body
        .widget-main
          .list-item
            %input{name: "femaleList[0].name", placeholder: "Guest Name", type: "text"}/
            %a.list-remove.btn.btn-small{href: "#", style: "display: none;"}
              %i.icon-minus
              Remove Guest
          %a.list-add.btn.btn-small{href: "#"}
            %i.icon-plus
            Add Guest                              



:javascript
  $(document).ready(function() {
      $("#list").dynamiclist();
  });
:javascript
  (function($) {
        $(document).ready(function() {
          $("#male_list").dynamiclist();  
          $("#female_list").dynamiclist();  
        });
      })(jQuery);

:javascript
  var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-39443744-1"]);
    _gaq.push(["_trackPageview"]);

    (function() {
    var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
    ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
   var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
  })();  

/ %h1 Listing pair_groups

/ %table
/   %tr
/     %th User
/     %th Title
/     %th Description
/     %th Text
/     %th Members
/     %th Text
/     %th
/     %th
/     %th

/   - @pair_groups.each do |pair_group|
/     %tr
/       %td= pair_group.user_id
/       %td= pair_group.title
/       %td= pair_group.description
/       %td= pair_group.text
/       %td= pair_group.members
/       %td= pair_group.text
/       %td= link_to 'Show', pair_group
/       %td= link_to 'Edit', edit_pair_group_path(pair_group)
/       %td= link_to 'Destroy', pair_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Pair group', new_pair_group_path
